 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Analista de sistemas pela UFMS Câmpus de Coxim, conclusão em 2013.</p>
                </div>
                <div class="col-lg-4">
                    <p>Apaixonado por soluções móveis, aplicativos e jogos.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://play.google.com/store/apps/developer?id=Castro+Dev" target="blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Meus aplicativos
                    </a>
                </div>
            </div>
        </div>
    </section>